<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.comp490.studybuddy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:icon="@drawable/name" 
            android:label=" " >
            >
        </activity>
        <activity
            android:name=".note.NoteActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_text_note" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comp490.studybuddy.MainActivity" />
        </activity>
        <activity
            android:name=".calendar.CalenActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_calen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comp490.studybuddy.MainActivity" />
        </activity>
        <activity
            android:name=".calendar.DayDetails"
            android:label="@string/title_activity_day" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comp490.studybuddy.calendar.CalenActivity" />
        </activity>
        <activity
            android:name=".MyService"
            android:label="@string/title_activity_my_service" >
        </activity>

        <service
            android:name=".MyService"
            android:enabled="true" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".SettingsFragment"
            android:label="@string/title_activity_settings_fragment" >
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name=".flashcards.FlashMain"
            android:label="@string/title_activity_flash_main" >
        </activity>
        <activity
            android:name=".handwritingnote.HandwritingMain"
            android:label="@string/title_activity_handwriting_main" >
        </activity>
        <activity
            android:name=".calendar.AddEvent"
            android:label="@string/title_activity_event" 
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comp490.studybuddy.calendar.CalenActivity" />
        </activity>

        <activity
            android:name=".todolist.ToDoMain"
            android:label="@string/title_activity_to_do_main" >
        </activity>
        <activity
            android:name=".todolist.DefaultActivity"
            android:label="@string/title_activity_default" >
        </activity>
        <activity
            android:name=".todolist.ModifyTask"
            android:label="@string/title_activity_modify_task" >
        </activity>
        <activity
            android:name=".todolist.ViewTask"
            android:label="@string/title_activity_view_task" >
        </activity>
        
        <service android:name=".todolist.NotificationService" />
        <service android:name=".todolist.AlarmService" />
        
        <activity
            android:name="com.comp490.studybuddy.note.VideoViewerActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_video"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comp490.studybuddy.note.NoteActivity" />
        </activity>
        <activity
            android:name="com.comp490.studybuddy.note.PhotoViewerActivity"
            android:configChanges="orientation|screenSize" 
            android:label="@string/title_activity_photo"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comp490.studybuddy.note.NoteActivity" />
        </activity>
        <activity
            android:name="com.comp490.studybuddy.flashcards.AddDecks"
            android:label="@string/title_add_deck">
        </activity>
        <activity
            android:name="com.comp490.studybuddy.flashcards.ViewDecks"
            android:label="@string/title_view_deck">
        </activity>
        <activity
            android:name="com.comp490.studybuddy.flashcards.ViewCards"
            android:label="@string/title_view_card">
        </activity>
        <activity
            android:name="com.comp490.studybuddy.flashcards.AddCards"
            android:label="@string/title_add_card">
        </activity>
        
    </application>

</manifest>
