<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.comp490.studybuddy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".textnote.TextNote"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_text_note" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app.MainActivity" />
        </activity>
        <activity
            android:name=".calendar.CalenActivity"
            android:label="@string/title_activity_calen" >
        </activity>
        <activity
            android:name=".todolist.ToDoList"
            android:label="@string/title_activity_to_do_list" >
        </activity>
        <activity
            android:name=".MyService"
            android:label="@string/title_activity_my_service" >
        </activity>

        <service
            android:name=".MyService"
            android:enabled="true" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".SettingsFragment"
            android:label="@string/title_activity_settings_fragment" >
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name=".todolist.UpdateTask"
            android:label="@string/title_activity_update_task"
            android:parentActivityName=".todolist.ToDoList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comp490.studybuddy.todolist.ToDoList" />
        </activity>
        <activity
            android:name="com.comp490.studybuddy.todolist.AddTask"
            android:label="@string/title_activity_add_task"
            android:parentActivityName=".todolist.ToDoList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comp490.studybuddy.todolist.ToDoList" />
        </activity>
    </application>

</manifest>
